.myHeader{
	background-color: red;
}


/*.navbar, .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}*/

.navbar, .navbar-collapse, .navbar-brand {
    text-align: center;
}

.aside{
	float: left;
}

.tuile{
    background-color:  #add8e6;
    padding : 2em;
    border-radius: 0.5em;
    border: solid black 0.1em;
    margin-bottom: 2em;
    margin-top: 2em;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

ul{
margin-bottom: 1em;
}

li{
margin-bottom: 0.3em;
}