.aside{
	float: left;
}

.tuile{
    background-color:  #add8e6;
    padding : 1em;
    border-radius: 0.5em;
    border: solid black 0.1em;
    margin-bottom: 0.1em;
    margin-top: 0.1em;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

ul{
margin-bottom: 1em;
}

li{
    
    margin-bottom: 0.3em;
}

.jumbotron{
    background-color:  #add8e6;
    border-top: solid black 0.1em;
    border-bottom: solid black 0.1em;
    margin-top: 1em;
}

.navbar-custom {
    background-color:#add8e6;
    color:#000000;
    border-radius:0;
    border-bottom: solid black 0.1em;
}

.navbar-custom .navbar-nav > li > a {
    color:#000000;
    border-bottom: solid black 0.1em;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #000000;
    background-color:transparent;
    border-bottom: solid black 0.1em;
}
.navbar-custom .navbar-brand {
   color:#000000;
}

li.liClicable::before {
    list-style-type: none;
    content :"+ ";
};

