.myHeader{
	background-color: red;
}


/*.navbar, .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}*/

.navbar, .navbar-collapse, .navbar-brand {
    text-align: center;
}

.aside{
	float: left;
}

.competencesHome, .formationsHome, .experiencesHome, .loisirsHome{
    background-color:  #add8e6;
    padding : 10px;
    border-radius: 5px;
    border: solid black 1px;

}