<main>
	<div class="row">
		<section class="col-md-12 col-xs-12 center-block">
			<!--Colonne Un-->
			<div class="col-md-3 col-xs-3 center-block">
				<div class="row">
					<div class="col-md-12 col-xs-12 center-block">
						<div class="tuile">
							<h3>C++</h3>
							<ul>
								<li class="liClicable" ng-click="showQt=!showQt">Framework Qt</li>
								<p class="animate-show" ng-show="showQt">Création d'une application avec connexion en base de données et affichage sous forme de tableaux.</p>
								<li class="liClicable">Gestion de la mémoire</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="row">					
					<div class="col-md-12 col-xs-12 center-block">
						<div class="tuile">
							<h3>Java/JEE</h3>
							<ul>
								<li class="liClicable">JDBC</li>
								<li class="liClicable">JSP</li> 
								<li class="liClicable">Servlets</li> 
								<li class="liClicable">Architecture REST</li>
								<li class="liClicable">JBoss</li> 
								<li class="liClicable">JPA</li> 
								<li class="liClicable">EJB</li> 
								<li class="liClicable">CDI</li> 
								<li class="liClicable">framework Spring</li>
								<li class="liClicable">Maven</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 col-xs-12 center-block">
						<div class="tuile">
							<H3>IDE</H3>
							<ul>
								<li class="liClicable">Qt Creator</li>
								<li class="liClicable">Eclipse</li>
								<li class="liClicable">Windows Studio</li>
							</ul>	
						</div>
					</div>
				</div>
			</div>
			<!--Colonne Deux-->
			<div class="col-md-3 col-xs-3 center-block">
				<div class="row">
					<div class="col-md-12 col-xs-12 center-block">
						<div class="tuile">
							<h3>C</h3>								
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 col-xs-12 center-block">
						<div class="tuile">
							<h3>Gestion de projet</h3>
							<ul>
								<li class="liClicable">Gantt</li>
								<li class="liClicable">Pertt</li>
							</ul>								
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 col-xs-12 center-block">
						<div class="tuile">
							<h3>Méthodes agiles</h3>
							<ul>
								<li class="liClicable" ng-click="showDaily=!showDaily">Scrum</li>
								<p class="animate-show" ng-show="showDaily">Pratique du daily meeting pendant les dix jours de projet à la fin de ma formation Java/JEE. Utilisation d'un board.</p>
							</ul>								
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 col-xs-12 center-block">
						<div class="tuile">
							<h3>Web</h3>
							<ul>
								<li class="liClicable">Html5</li>
								<li class="liClicable" ng-click="showCssBootstrap=!showCssBootstrap">Css3, Bootstrap</li>
								<p class="animate-show" ng-show="showCssBootstrap">Utilisation de bootstrap pour ce CV, avec css personnalisé.</p>
								<li class="liClicable" ng-click="showJsAngular=!showJsAngular">JavaScript, AngularJs</li>
								<p class="animate-show" ng-show="showJsAngular">Utilisation d'AngularJs pour créer une SPA, plus précisément le module angular-route, utilisation des fonctionnalités ng-show, ng-click, ng-repeat ect. Par exemple, ce clic.</p>
							</ul>								
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 col-xs-12 center-block">
						<div class="tuile">
							<h3>SGDBR</h3>
							<ul>
								<li class="liClicable">Sql</li>
								<li class="liClicable"  ng-click="showSomething=!showSomething">Wamp</li>
								<p ng-show="showSomething"></p>
								<li class="liClicable"  ng-click="showSomething=!showSomething">EasyPhp</li>
								<p ng-show="showSomething"></p>
								<li class="liClicable"  ng-click="showSomething=!showSomething">MySql</li>
								<p ng-show="showSomething"></p>
							</ul>								
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-3 col-xs-3 center-block">
				<div class="row">
					<div class="col-md-12 col-xs-12 center-block">
						<div class="tuile">
							<h3>Anglais</h3>
							<ul>
								<li>Score TOEIC 2013 : 855</li>
								<li>Lu : Courant</li>
								<li>Ecrit : Scolaire</li>
								<li>Parlé : Scolaire</li>
							</ul>							
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 col-xs-12 center-block">
						<div class="tuile">
							<h3>Outils</h3>
							<ul>
								<li>Gestionnaire de sources : SVN, GIT, ClearCase</li>
								<li>Latex</li>
								<li>Pack Office</li>
								<li>Intégration continue : Jenkins, Sonar, Nexus</li>
								<li>Grunt, Cassandra, Wildfly</li>
								<li>Méthodes Merise, UML</li>
							</ul>							
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</main>