<main>
	<div class="row">
		<section class="col-md-6 col-xs-6 center-block">
			<div class="tuile">
				<h2>Programmation</h2>
				<!--Colonne gauche-->
				<div class="col-md-6 col-xs-6 center-block">
					<div class="row">
						<div class="col-md-12 col-xs-12 center-block">
							<div class="tuile">
								<h3>C++</h3>
								<ul>
									<li>Framework Qt</li>
									<li>Gestion de la mémoire</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="row">					
						<div class="col-md-12 col-xs-12 center-block">
							<div class="tuile">
								<h3>Java/JEE</h3>
								<ul>
									<li>JDBC</li>
									<li>JSP</li> 
									<li>Servlets</li> 
									<li>Architecture REST</li>
									<li>JBoss</li> 
									<li>JPA</li> 
									<li>EJB</li> 
									<li>CDI</li> 
									<li>framework Spring</li>
									<li>Maven</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 col-xs-12 center-block">
							<div class="tuile">
								<H3>IDE</H3>
								<ul>
									<li>Qt Creator</li>
									<li>Eclipse</li>
									<li>Windows Studio</li>
								</ul>	
							</div>
						</div>
					</div>
				</div>
				<!--Colonne Droite-->
				<div class="col-md-6 col-xs-6 center-block">
					<div class="row">
						<div class="col-md-12 col-xs-12 center-block">
							<div class="tuile">
								<h3>C</h3>								
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</main>