<main>
	<div class="row">
		<section class="col-md-12 col-xs-12 center-block">
			<!--Colonne gauche-->
			<div class="col-md-3 col-xs-3 center-block">
				<div class="row">
					<div class="col-md-12 col-xs-12 center-block">
						<div class="tuile">
							<h3>C++</h3>
							<ul>
								<li>Framework Qt</li>
								<li>Gestion de la mémoire</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="row">					
					<div class="col-md-12 col-xs-12 center-block">
						<div class="tuile">
							<h3>Java/JEE</h3>
							<ul>
								<li>JDBC</li>
								<li>JSP</li> 
								<li>Servlets</li> 
								<li>Architecture REST</li>
								<li>JBoss</li> 
								<li>JPA</li> 
								<li>EJB</li> 
								<li>CDI</li> 
								<li>framework Spring</li>
								<li>Maven</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 col-xs-12 center-block">
						<div class="tuile">
							<H3>IDE</H3>
							<ul>
								<li>Qt Creator</li>
								<li>Eclipse</li>
								<li>Windows Studio</li>
							</ul>	
						</div>
					</div>
				</div>
			</div>
			<!--Colonne Droite-->
			<div class="col-md-3 col-xs-3 center-block">
				<div class="row">
					<div class="col-md-12 col-xs-12 center-block">
						<div class="tuile">
							<h3>C</h3>								
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 col-xs-12 center-block">
						<div class="tuile">
							<h3>Gestion de projet</h3>
							<ul>
								<li>Gantt</li>
								<li>Pertt</li>
							</ul>								
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 col-xs-12 center-block">
						<div class="tuile">
							<h3>Méthodes agiles</h3>
							<ul>
								<li>Scrum</li>
								<li>Pratique du daily meeting</li>
							</ul>								
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 col-xs-12 center-block">
						<div class="tuile">
							<h3>Web</h3>
							<ul>
								<li>Html5</li>
								<li>Css3, Bootstrap</li>
								<li  ng-click="showJsAngular=!showJsAngular">JavaScript, AngularJs</li>
								<p ng-show="showJsAngular">Utilisation d'AngularJs pour créer une SPA, plus précisément le module angular-route, utilisation des fonctionnalités ng-show, ng-click, ng-repeat ect. Par exemple, ce clic.</p>
							</ul>								
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 col-xs-12 center-block">
						<div class="tuile">
							<h3>Base de données</h3>
							<ul>
								<li>Sql</li>
								<li  ng-click="showSomething=!showSomething">Merise</li>
								<p ng-show="showSomething"></p>
							</ul>								
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</main>