
<main>
	<div class="row">
		
			<section class="col-md-2 col-xs-2 col-md-offset-1 center-block">
				Avril - Septembre 2014
			</section>
			<section class="col-md-4 col-xs-4 center-block experiences">
				<div class="tuile">
					<h2>Développeur C++ Image</h2>
					<h3>CNRS - CENBG - Gradignan (33)</h3>
					<p> Analyse d’organismes biologiques à l’aide d’un faisceau de particules – Equipe pluridisciplinaire biologie-chimie - 10 personnes </p>
					<ul>
						<li>Détermination de l’orientation de l’échantillon dans les images </li>
						<li>Extraction d’une matrice d’atténuation du programme C DISRA, intégration en C++ et optimisations</li>
						<li>Validation des données</li>
					</ul>
				</div>
			</section>
		
	</div>
	<div class="row">
		<div class="tuile">
			<section class="col-md-2 col-xs-2 col-md-offset-1 center-block">
				Avril - Juin 2012 
			</section>
			<section class="col-md-4 col-xs-4 center-block experiences">
				<div class="tuile">
					<h2>Développeur C++ Qt</h2>
					<h3>Satelec Acteon Group – Service Méthodes d’Industrialisation – Mérignac (33)</h3>
					<p> Fabrication matériel de haute technologie dentaire – Equipe électroniciens / mécaniciens – 8 personnes – Stagiaire informatique </p>
					<h4>Refactoring de macro Excel en logiciel C++ Qt</h4>
					<ul>
						<li>Connexion base de données ODBC</li>
						<li>Création interface graphique</li>
						<li>Ajout de fonctionnalités</li>
					</ul>
				</div>
			</section>
		</div>
	</div>
</main>