<main>
	<div class="row">
		<section class="col-md-3 col-xs-2 col-md-offset-1 center-block">
			Juin - Aout 2015
		</section>
		<section class="col-md-4 col-xs-4 center-block">
			Formation expert Java
		</section>
	</div>
	<div class="row">
		<section class="col-md-4 col-xs-4 col-md-offset-1 center-block">
			2012-2014
		</section>
		<section class="col-md-3 col-xs-2 center-block">
			Master Informatique Image, Son, Vidéo Spécialité Réalité Virtuelle
		</section>
	</div>
	<div class="row">
		<section class="col-md-4 col-xs-4 col-md-offset-1 center-block">
			2010-2012
		</section>
		<section class="col-md-3 col-xs-2 center-block">
			<h2>Licence Informatique Bordeaux</h2>
		</section>
		
	</div>
	<div class="row">
		<section class="col-md-4 col-xs-4 col-md-offset-1 center-block">
			2008-2010
		</section>		
		<section class="col-md-3 col-xs-2  center-block">
			<h2>DUT informatique Bordeaux</h2>
			<ul>
				<li>Langages objets C++,C#,Java</li>
				<li></li>
				<li></li>
				<li>Base de données : Sql, Merise</li>
				<li>Economie d'entreprise</li>	
			</ul>	
		</section>
		
	</div>
</main>