<main>
	<div class="row">
			<section class="col-md-3 col-xs-2 col-md-offset-1 center-block">
				<div class="tuile">
				Juin - Aout 2015
				</div>
			</section>
			<section class="col-md-4 col-xs-4 center-block">
				<div class="tuile">
					<h2>Formation expert Java</h2>
				</div>
			</section>
		
	</div>
	<div class="row">
			<section class="col-md-3 col-xs-4 col-md-offset-1 center-block">
				<div class="tuile">
				2012-2014
				</div>
			</section>
			<section class="col-md-4 col-xs-2 center-block">
				<div class="tuile">
					<h2>Master Informatique Image, Son, Vidéo Spécialité Réalité Virtuelle</h2>
				</div>
			</section>
	</div>
	<div class="row">
		
			<section class="col-md-3 col-xs-4 col-md-offset-1 center-block">
				<div class="tuile">
				2010-2012
				</div>
			</section>
			<section class="col-md-4 col-xs-2 center-block">
				<div class="tuile">
					<h2>Licence Informatique Bordeaux</h2>
				</div>
			</section>
		
	</div>
	<div class="row">
		
			<section class="col-md-3 col-xs-4 col-md-offset-1 center-block">
				<div class="tuile">
				2008-2010
				</div>
			</section>		
			<section class="col-md-4 col-xs-2  center-block">
				<div class="tuile">
				<h2>DUT informatique Bordeaux</h2>
				<ul>
					<li>Langages objets : C++, C#, Java</li>
					<li>Gestion de projet : Gantt, Pertt</li>
					<li>Systèmes et Réseaux</li>
					<li>Base de données : Sql, Merise</li>
					<li>Economie d'entreprise</li>	
				</ul>	
				</div>
			</section>
		
	</div>
</main>