<main>
	<div class="row">
		<section class="col-md-3 col-xs-2 col-md-offset-1 center-block">
			Juin - Aout 2015
		</section>
		<section class="col-md-4 col-xs-4 center-block">
			Formation expert Java
		</section>
	</div>
	<div class="row">
		<section class="col-md-4 col-xs-4 col-md-offset-1 center-block">
			2012-2014
		</section>
		<section class="col-md-3 col-xs-2 center-block">
			Master Informatique Image, Son, Vidéo Spécialité Réalité Virtuelle
		</section>
	</div>
	<div class="row">
		<section class="col-md-4 col-xs-4 col-md-offset-1 center-block">
			2010-2012
		</section>
		<section class="col-md-3 col-xs-2 center-block">
			Licence Informatique Bordeaux
		</section>
		
	</div>
	<div class="row">
		<section class="col-md-4 col-xs-4 col-md-offset-1 center-block">
			2008-2010
		</section>		
		<section class="col-md-3 col-xs-2  center-block">
			DUT informatique Bordeaux
		</section>
		
	</div>
</main>