<header class="myHeader">
	<nav class="navbar navbar-custom" role="navigation">
		<ul class="nav">
			<li><a class="navbar-brand" ui-sref="index">FARAU Romain</a></li>
			<li><a class="navbar-brand" ui-sref="experience">Expériences professionnelles</a></li>
			<li><a class="navbar-brand" ui-sref="formations" >Formations</a></li>
			<li><a class="navbar-brand" ui-sref="competences" >Compétences</a></li>
			<li><a class="navbar-brand" ui-sref="loisirs" >Loisirs</a></li>
		</ul>
	</nav>

</header>
