
<main>
	<div class="row">
		<article class="col-md-2 col-xs-2 col-md-offset-1 center-block">
			<div class="coordonneesHome tuile">
				<p>Photo</p>	
				<p>FARAU Romain</p>
				<p>Tél.: 06 17 35 39 85</p>
				<p>romain.farau@gmail.com</p>
				<p>25 ans</p>
				<p>2 le Bourdillot 33390 Berson</p>
				<p>Permis B + véhicule</p>
				<p>Actuellement prestataire DTA Ingenierie</p>
				<p><a href="https://github.com/RomainFarau">Mon dépot GitHub</a></p>
			</div>
		</article>

		<article class="col-md-8 col-xs-2 col-md-offset-1 center-block">
			<div class="row">

				<section class="col-md-5 col-xs-2 col-md-offset-1 center-block">
					<div class="competencesHome tuile">
						<h2>Compétences</h2>
						<ul>
							<li>
								<h4>Programmation Objet </h4> 
								<ul>
									<li><strong>Java/JavaEE :</strong>  framework Spring, REST, JPA, EJB, JDBC, JSP, AWT/Swing, Servlets, JBoss, Maven</li>
									<li><strong>C++ :</strong> framework Qt</li>
									<li><strong>C#</strong></li>
								</ul>
							</li>
							<li><h4>Outils </h4> SVN, Git, pack Office, Latex, Grunt, Cassandra, Jenkins, Sonar, Nexus, Wildfly</li>
							<li><h4>Méthodes </4> Merise, UML</li>
							<li><h4>Web </h4> Html5, Css3, Bootstrap, Php, AngularJs, Javascript</li>
							<li><h4>SGDBR </h4> Sql, Wamp, EasyPhp, Mysql</li>
							<li><h4>Autre Langages</h4> C, Python, Lisp</li>
							<li><h4>Anglais</43> score TOEIC : 855 - niveau B2</li>
						</ul>
						<a ui-sref="competences">Plus d'infos sur la page dédiée</a>
					</div>
				</section>
				<section class="col-md-5 col-xs-2 center-block">
					<div class="formationsHome tuile">
						<h2>Formations</h2>
						<ul>
							<li><strong>Formation développement Java/JavaEE</strong>, Saint-Herblain(44), Certification Java 7 SE</li>
							<li><strong>Master Informatique Image, Son, Vidéo Spécialité Réalité Virtuelle</strong>, Université de Bordeaux, 33 </li>
							<li><strong>Licence Informatique</strong>, Université Bordeaux 1, 33 </li>
							<li><strong>DUT Informatique</strong>, IUT informatique Bordeaux 1, 33 </li>	
						</ul>
						<a ui-sref="formations">Plus d'infos sur la page dédiée</a>
					</div>	
				</section>
			</div>
			<div class="row">
				<section class="col-md-5 col-xs-2 col-md-offset-1 center-block">
					<div class="experiencesHome tuile">
						<h2>Expériences</h2>
						<ul>
							<li>Septembre-Décembre 2015 - Développeur C++ - Septembre -  Sopra Steria - TMA Sopra Alis - Saint Herblain (Nantes-44) </li>
							<li>Septembre 2014 - Développeur C++ Image - Avril -  CNRS - CENBG - Gradignan (33)</li>
							<li>Juin 2012 - Développeur C++ Qt - Avril -  Satelec Acteon Group – Service Méthodes d’Industrialisation – Mérignac (33)</li>				
						</ul>
						<a ui-sref="experience">Plus d'infos sur la page dédiée</a>
					</div>
				</section>
				<section class="col-md-5 col-xs-2 center-block">
					<div class="loisirsHome tuile">
						<h2>Loisirs</h2>
						<ul>
							<li>Basket - En club pendant 14 ans</li>
							<li>Dessin</li>
							<li>Lecture</li>
						</ul>
						<a ui-sref="loisirs">Plus d'infos sur la page dédiée</a>
					</div>
				</section>
			</div>
		</article>

		
	</div>
</main>
