
<main>
	<div class="row">
		<article class="col-md-2 col-xs-2 col-md-offset-1 center-block">
			<p>Photo</p>	
			<p>Farau Romain</p>
			<p>06 17 35 39 85</p>
			<p>romain.farau@gmail.com</p>
			<p>Né le 20 mars 1990</p>
			<p>2 le Bourdillot 33390 Berson</p>
		</article>

		<article class="col-md-8 col-xs-2 col-md-offset-1 center-block">
			<div class="row">

				<section class="col-md-5 col-xs-2 col-md-offset-1 center-block">
					<div class="competencesHome">
						<h2>Compétences :</h2>
						<ul>
							<li>
								Programmation Objet : 
								<ul>
									<li>Java/JavaEE : framework Spring, REST, JPA, EJB, JDBC, JSP, AWT/Swing, Servlets, JBoss</li>
									<li>C++ : framework Qt</li>
									<li>C#</li>
								</ul>
							</li>
							<li>Outils : SVN, Git, pack Office, Latex, Grunt, Cassandra, Jenkins, Sonar, Nexus, Maven, Wildfly</li>
							<li>Méthodes : Merise, UML</li>
							<li>Web : Html5, Css3, Bootstrap, Php, AngularJs, Javascript</li>
							<li>SGDBR : Sql, Wamp, EasyPhp, Mysql</li>
							<li>Langages : Python, C, C++, Java, C#, Lisp</li>
							<li>Anglais score TOEIC 2013 : 855</li>
						</ul>
					</div>
				</section>
				<section class="col-md-5 col-xs-2 center-block">
					<div class="formationsHome">
						<h1>Formations : </h1>
						<ul>
							<li>Formation développement Java/JavaEE, Saint-Herblain(44), Certification Java 7 SE</li>
							<li>Université de Bordeaux, 33, Master Informatique Image, Son, Vidéo Spécialité Réalité Virtuelle</li>
							<li>Université Bordeaux 1, 33, Licence Informatique</li>
							<li>IUT informatique Bordeaux 1, 33, DUT Informatique</li>	
						</ul>
					</div>	
				</section>
			</div>
			<div class="row">
				<section class="col-md-5 col-xs-2 col-md-offset-1 center-block">
					<div class="experiencesHome">
						<h2>Expériences</h2>
						<ul>
							<li>Développeur C++ - Septembre - Décembre 2015 - Sopra Steria - TMA Sopra Alis - Saint Herblain (Nantes-44) </li>
							<li>Développeur C++ Image - Avril - Septembre 2014 - CNRS - CENBG - Gradignan (33)</li>
							<li>Développeur C++ Qt - Avril - Juin 2012 - Satelec Acteon Group – Service Méthodes d’Industrialisation – Mérignac (33)</li>				
						</ul>
					</div>
				</section>
				<section class="col-md-5 col-xs-2 center-block">
					<div class="loisirsHome">
					<h2>Loisirs</h2>
					<ul>
						<li></li>
						<li></li>					
					</ul>
					</div>
				</section>
			</div>
		</article>

		
	</div>
</main>
