<main>
	<div class="row">
		<section class="col-md-12 col-xs-12 center-block">
			<!--Colonne gauche-->
			<div class="col-md-3 col-xs-3 center-block">
				<div class="row">
					<div class="col-md-12 col-xs-12 center-block">
						<div class="tuile">
							<h3>Basket-ball</h3>
							<ul>
								<li>En club pendant 14 ans, chez Les Fils de Roland à Blaye puis à l'Union Sportive Gauriacaise à Gauriac.</li>
								<li>A la fac pendant 4 ans.</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 col-xs-12 center-block">
						<div class="tuile">
							<h3>Lecture</h3>
							<ul>
								<li class="liClicable" ng-click="showRoman=!showRoman">Roman</li>
								<p ng-show="showRoman">Le trône de fer, l'Assassin Royal, Sorceleur, Sherlock Holmes, The Wheel Of Times, Harry Potter, A la croisée des mondes, Le seigneur des Anneaux, Drizzt</p>
								<li class="liClicable" ng-click="showBd=!showBd">Bande dessinée</li>
								<p ng-show="showBd">Monster, Le troisième testament, Ikigami, Largo Winch, XIII, Fullmetal Alchemist, One Piece, Bleach, Naruto, Billy Bat, Twenty Century Boys, Pluto, Fly, Hunter X Hunter, Lucky Luke, Asterix, Les chevaliers du Zodiaque, Dragon Ball, Dc comics, Marvel, City Hall</p>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-xs-3 center-block">
				<div class="row">
					<div class="col-md-12 col-xs-12 center-block">
						<div class="tuile">
							<h3>Jeux-vidéo</h3>
							<ul>
								<li class="liClicable" ng-click="showStrat=!showStrat">Stratégie, gestion</li>
								<p ng-show="showStrat">Age of Empire 2, Warcraft 3, Starcraft 2, Europa Universalis IV, Medieval : Total war 2</p>
								<li class="liClicable" ng-click="showRpg=!showRpg">RPG</li>
								<p ng-show="showRpg">Final Fantasy, The witcher, Mass Effect, Baldur's Gate, Pillars of Eternity</p>
							</ul>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 col-xs-12 center-block">
						<div class="tuile">
							<h3>Dessin</h3>	
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-xs-3 center-block">
				<div class="row">
					<div class="col-md-12 col-xs-12 center-block">
						<div class="tuile">
							<h3>Natation</h3>	
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 col-xs-12 center-block">
						<div class="tuile">
							<h3>Cinéma</h3>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</main>