<main>
	<div class="row">
		<section class="col-md-4 col-xs-2 center-block">
			Juin - Aout 2015
		</section>
		<section class="col-md-8 col-xs-4 center-block">
			Formation expert Java
		</section>
	</div>
		<section>
			Master Informatique Image, Son, Vidéo Spécialité Réalité Virtuelle
		</section>
		<aside>
			2012-2014
		</aside>
		<section>
			Licence Informatique Bordeaux
		</section>
		<aside>
			2010-2012
		</aside>
		<section>
			DUT informatique Bordeaux
		</section>
		<aside>
			2008-2010
		</aside>
	
</main>